$primary-color: #E83C38;
$secondary-color: #302D38;
$accent-color: #C0B0A0;
$light-color: #F8EFE8;
$white-color: #FFFFFF;

// Device
$tab-large: 1024px;
$tab-mini: 768px;
$horizontal-mobile: 500px;
$mobile: 350px;